<div class="body">
  <div class="container">
    <div class="cocktail-show-top-side">
      <div class="cocktail-show-top-side-item">
        <div class="cocktail-show-top-side-item one"><p>Accueil</p></div>
        <div class="cocktail-show-top-side-item two"><p>Cocktails</p></div>
        <div class="cocktail-show-top-side-item three"><p><%= @cocktail.name %></p></div>
      </div>
    </div>

    <div class="cocktail-show-left-side">
      <div class="cocktail-show-left-side title photo">
        <div class="cocktail-show-left-side title"><h1><%= @cocktail.name %></div>
        <div class="cocktail-show-left-side photo"><%= image_tag(@cocktail.photo, style: "max-width: 573px; max-height: 573px") %></div>
      </div>
      <div class="cocktail-show-left-side doses">
        <div class="cocktail-show-left-side doses colored-area">
          <div class="cocktail-show-left-side doses title">INGREDIENTS</div>
          <!--
          <div class ="cocktail-show-left-side doses dropdown-menu">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                </div>
            </button>
          </div>
          -->
          <div class="cocktail-show-left-side doses description">
            <% @cocktail.doses.each do |cocktail| %>
              <div class="cocktail-show-left-side doses description item">
                  <% if cocktail.description != nil %>
                    <%= cocktail.description %>
                  <% end %>
                <%= Ingredient.find_by_id(cocktail.ingredient_id).name %>
                <br>
              </div>
            <% end %>
          </div>
        </div>
        <div class="cocktail-show-left-side doses recipe">
          <div class="cocktail-show-left-side doses recipe title">
            <h2><i class="fas fa-cocktail"></i>  Recipe  </h2>
          </div>
          <%= @cocktail.description %>
        </div>
      </div>
    </div>  
        
    <div class="cocktail-show-right-side">
      <div class="cocktail-show-right-side-row">
        <div class="cocktail-show-right-side properties">
          <div class="cocktail-show-right-side properties item"><p>Type: <%= @cocktail.category %></p></div>
          <div class="cocktail-show-right-side properties item"><p>Contenance: <%= @cocktail.capacity %></p></div>
          <div class="cocktail-show-right-side properties item"><p>Difficulté: <%= @cocktail.complexity %></p></div>
        </div>
        <div class="cocktail-show-right-side alc-ing">
          <div class="cocktail-show-right-side alc-ing title"><h3><%= @cocktail.name %></h3></div>
          <div class="cocktail-show-right-side alc-ing image">
            <% @cocktail.doses.each do |cocktail| %>
              <% alc_ing = [] %>
              <% alc_ing << Ingredient.find_by_id(cocktail.ingredient_id) %>
              <%= image_tag(alc_ing[0].photo, size: "160x200") %>
            <% end %>
          </div>
        </div>
        <div class="cocktail-show-right-side non-alc-ing">
          <h3>Tous les ingredients non alc utilisés</h3>
          <% @cocktail.doses.each do |cocktail| %>
            <br>
              <% non_alc_ing = [] %>
              <% non_alc_ing << Ingredient.find_by_id(cocktail.ingredient_id) %>
              <% non_alc_ing.each do |x| %>
                <% if x.liquor == false %>
                  <%= image_tag(x.photo, size: "80x100") %>
                <% end %>
              <% end %>
            <br>
          <% end %>
        </div>
      </div>  
    </div>

    <div class="cocktail-show-bottom-side">
      <div class="cocktail-show-bottom-side-suggestion">
        <br>
          <div class="cocktail-show-bottom-side-suggestion one">
            <% box_cocktail1 = Cocktail.order('RANDOM()')[0] %>
            <%= image_tag(box_cocktail1.photo, size: "30x30") %>
            <p><%= box_cocktail1.name %></p>
            <p><%= box_cocktail1.description %></p>
          </div>
          <div class="cocktail-show-bottom-side-suggestion two">
            <% box_cocktail2 = Cocktail.order('RANDOM()')[1] %>
            <%= image_tag(box_cocktail2.photo, size: "30x30") %>
            <p><%= box_cocktail2.name %></p>
            <p><%= box_cocktail2.description %></p>
          </div>
          <div class="cocktail-show-bottom-side-suggestion three">
            <% box_cocktail3 = Cocktail.order('RANDOM()')[2] %>
            <%= image_tag(box_cocktail3.photo, size: "30x30") %>
            <p><%= box_cocktail3.name %></p>
            <p><%= box_cocktail3.description %></p>
          </div>
          <div class="cocktail-show-bottom-side-suggestion four">
            <% box_cocktail4 = Cocktail.order('RANDOM()')[3] %>
            <%= image_tag(box_cocktail4.photo, size: "30x30") %>
            <p><%= box_cocktail4.name %></p>
            <p><%= box_cocktail4.description %></p>
          </div>
        <br>
      </div>
      <div class="cocktail-show-bottom-side previous next">
        <div class="cocktail-show-bottom-side previous"> 
          <% if @cocktail.previous %>
            <%= link_to "< Previous", @cocktail.previous %>
          <% end %>
        </div>
        <div class="cocktail-show-bottom-side next">
          <% if @cocktail.next %>
            <%= link_to "Next >", @cocktail.next %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>


<%
=begin%>
<% @cocktail.doses.each do |cocktail| %>
    <% if cocktail.description != nil %>
      <span id="quantity"><%= cocktail.description.delete("^0-9").to_i %></span>
    <% end %>
    <% if cocktail.description != nil %>
      <span id="measure"><%= cocktail.description.tr("0-9", "") %></span>
    <% end %>
  <%= Ingredient.find_by_id(cocktail.ingredient_id).name %>
  <br>
<%
=end
%>
