<div class="body">
  <div class="cocktail-show-left-side">
    <div class="cocktail-show-first-container">
      <div class="cocktail-show-first-container-item">Accueil</div>
      <div class="cocktail-show-first-container-item">Cocktails</div>
      <div class="cocktail-show-first-container-cocktail-item"><%= @cocktail.name %></div>
    </div>
    <div class="cocktail-show-second-container">
      <div class="cocktail-show-second-container-main-elements">
        <div class="cocktail-show-title"><h1><%= @cocktail.name %></div></h1>
        <div class="cocktail-show-rating">5 stars</div>
        <div class="cocktail-show-photo"><%= image_tag(@cocktail.photo, size: "400x500") %></div>
      </div>
      <div class="cocktail-show-second-container-doses">
        <div class="cocktail-show-second-container-doses-dropdown">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">1</a>
              <a class="dropdown-item" href="#">2</a>
              <a class="dropdown-item" href="#">3</a>
            </div>
          </div>
        </div>
        <div class="cocktail-show-second-container-doses-quantity-ingredients">
          <%#= render "doses/show", cocktail: @cocktail, dose: @doses %>
          <%#= @cocktail.dose1 %> <%#= @cocktail.ingredient1 %>
          <%#= @cocktail.dose2 %> <%#= @cocktail.ingredient2 %>
          <%#= @cocktail.dose3 %> <%#= @cocktail.ingredient3 %>
        </div>
      </div>
      <div class="cocktail-show-description">
        <h2>Recipe</h2>
        <%= @cocktail.description %>
      </div>
    </div>
  </div>
  <div class="cocktail-show-right-side">
    <div class="cocktail-show-third-container">
      <div class="cocktail-show-properties"></div>
      <div class="cocktail-show-liquor"></div>
      <div class="cocktail-show-ingredients"></div>
    </div>
  </div>
  <div class="cocktail-show-bottom-side">
    <div class="cocktail-show-fourth-container">
      <div class="cocktail-show-suggestions"></div>
    </div>
  </div>
</div>




<% 
=begin %>
<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @cocktail, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Original Score: <%= rating_for @cocktail, "original_score" %>
    <% end %>
  </div>
</div>
<% 
=end %>

